<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Complete Auto Driving School</title>
        <!-- Displayed when cursor hovers over chrome tab-->
        <meta name="description" content="custom homepage">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Sonsie+One" rel="stylesheet">
    
        
        <link href="../assets/css/fixed.css" rel="stylesheet" />
        <link href="../assets/css/video-fixed.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/bb76d470c5.js"></script>
        <link href="../assets/css/style2.css" rel="stylesheet" />
        <!-- <li class="nav-item"nk rel="stylesheet" href="./assets/css/stylesheet.css" type="text/css"> -->
    </head>
    
    <body>
        <header>
            <nav class="navbar navbar-expand-* navbar-dark fixed-top">
         
                <button type="button" class="navbar-toggler" data-toggle="collapse"
                    data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="../assets/images/cads-logo.png"></a>     
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Service</a></li>
                        <li class="nav-item"><a class="nav-link" href="#discount">Online Course</a></li>
                        <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#resources">Resources</a></li>
                    </ul>
                </div>  
            </nav>
        </header>

        <section id="guarantee-sect">
            <div id="guarantee" class="col-12 text-left h-100 mx-auto">
                <h1>Cash Back Satisfaction Guarantee</h1>
                <p>We are committed to providing excellent driving instruction services that will exceed your expectations. 
                    If you are not completely satisfied, you can receive a refund. The "Cash Back Satisfaction Guarantee" 
                    is our way of taking away your concerns about the quality of the driving instructions you will be receiving. 
                    The refund is limited to the cost of your 1st hour lesson fees of your 1st lesson (or one-half of 2 hour lesson fees). 
                    Requests for refunds must be submitted in writing to Complete Auto Driving School, LLC., 4301 Avenel Blvd., North Wales, Pa 19454,
                    within 15 days of your 1st lesson. You are required to fill out the "REFUND FORM" below and mail it along with your refund request. 
                    For any reason, during your 1st hour of your 1st lesson, if you feel that our services does not meet your expectations, 
                    you may choose to STOP the lesson. Please ask your instructor to STOP the lesson, record the time and the hour into your lesson and 
                    mail in your refund request. It is that simple.</p>
                
                <h1>Word From CEO</h1>
                <p>Thank you for choosing Complete Auto Driving School. When it comes to choosing your driving school in Philadelphia, Montgomery and 
                    surrounding Counties, you naturally want to select the best value for your money. At  Complete Auto Driving School, we're pleased to 
                    offer packages that will have you on the road without taking your wallet for a ride. Our comprehensive courses come with a Certificate 
                    of Insurance upon completion. This is a must for budget-minded students as this official certificate is the fastest and easiest way to 
                    secure great insurance discounts on either your car or the family car. Our packages offered work flawlessly both new drivers and those 
                    with some experience behind the wheel. Our package which offers 6 hours of instruction in 3 two hour sessions, driving in both rural and 
                    highway settings, merging, parallel parking, will ensure you are well-prepared for your driver's test. This is an excellent option for drivers 
                    who need a refresher course, young students on a budget, or older students who want to receive their license later on in life. Our "10 hour" 
                    package covers all the contents of the above package with 5 two hour sessions, defensive driving and awareness driving training in addition. 
                    This package is perfect for a new driver of any age who wants to be at their best behind the wheel. No matter what package you choose, 
                    we're confident you'll quickly see why our clients call us 'one of the best driving schools' Philadelphia, Montgomery and surrounding areas 
                    has to offer. Our fleet of Department of Education (DOE) approved vehicles offers a superior training experience, with high visibility, airbag 
                    and ABS safety systems, and dual brakes for complete control in any situation during the learning process. Give us a call today and start on 
                    the "road to learning" with a school that has experience teaching new drivers how to keep both themselves and other drivers safe on the streets.</p>
            </div>
        </section>
        
        <footer>
            <div id="footer">
                <div class="row">
                    <div class="col-12">
                        <p>Brandon Hong - Copyright &copy; 2019</p>
                    </div>
                </div>
                
            </div>
        </footer>
    
        <!-- Script Sources -->
        <script src="../assets/js/jquery-3.3.1.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    </body>

</html>